
/* Menu */

#nec-menu{float:left; width:100%;}
#nec-menu ul{padding:0;list-style-type: none; width: 100%; float:left;margin-top:20px;margin: 0}
#nec-menu ul li{float:left;}
#nec-menu ul li a{padding: 10px 15px;float:left; color:#fff;background: #333; margin: 0 1px 0 0}
	
	#reset{background: #333}

	#loop-events{float:left; width:100%;}
	
.tit-month{border-bottom: 1px solid #ddd;float:left; width: 100%;padding: 15px 0 15px 0; font-size:22px;margin:20px 0 0px 0;text-transform: capitalize}

#nec-container{float:left; width:100%;}

	/* Next Event Calendar Element */
	
	.nec-element{float:left; width:50%;margin: 30px 0 0 0;cursor:pointer;display:block;position:relative;}
	.nec-col3{width:33%}
		
		
		.nec-img{float:left;width:30%;position: relative;}
			.nec-img img{width: 100%; height:auto;display: block;position: relative; z-index: 0;}
			
			.nec-day{background: #333;width: 40px; height:40px;color:#fff; text-transform: uppercase;text-align: center; font-weight: bold;line-height: 16px;z-index: 1;position: absolute; right:0px;}	
				.nec-d{font-size: 18px;padding: 5px 0 0 0}
				.nec-m{font-size: 10px;}
				
				.nec-today{background: #fb3738; color:#fff; position: absolute; bottom:0;left:0;font-size: 10px; padding: 1px 5px}
			
			.nec-info{ font-size: 13px; font-weight: bold; text-transform: uppercase;}
			.nec-clock{margin: -3px 3px 0px 3px;width:13px; height:auto}
		
				
		.nec-head{color: #333;float:left; width:64%;margin: 0 3% 0 3%;position: relative;}
		
		
		.nec-popup{position: relative;float:left; width:100%;z-index:8}
			.nec-cont{overflow:hidden; display: none;background: #fff; position: absolute; top:0;z-index:10;}
				.in-cont{padding:20px;background: #eee; }
				.nec-show{background: #333; color:#fff; font-weight: bold;padding: 8px;display: block; text-align: center; border-radius: 2px; margin-top: 20px; text-decoration: none!important;}
				.nec-show:hover{background: #444;}
			
		
		.nec-single{float:left; width:100%; border-top: 1px solid #eee; margin-bottom: 20px}
			.nec-day-single{float:left;background: #333;width: 40px; height:40px;color:#fff; text-transform: uppercase;text-align: center; font-weight: bold;line-height: 16px;z-index: 1;position: relative;}	
			.nec-info-single{float:left;padding:5px}
			.nec-today-single{color:#fb3738;font-size: 13px; font-weight: bold}
	
			
	/* Widget */
	.widget_cl_widget{float:left; width:100%;margin-bottom: 20px}
	.nec-wd-element{ float:left; width:100%; margin-bottom: 0px; border-bottom: 1px solid #eee;padding: 10px 0 15px 0;display:block;}
	.nec-wd-element .nec-tit{font-weight: normal}
	

@media (max-width: 1200px) { 

	.nec-col3{width:50%}
		
}


@media (max-width: 764px) { 

	.nec-element{ width:98%;border-right:none;margin-bottom:25px}

	#nec-menu ul li{float:left;width:50%;margin-bottom: 1px;}
	#nec-menu ul li a{display:block; float:none; }
	
	.nec-label{top:60px;}

}